nav li {
    display: inline;
    margin-right: 15px;
}
nav a {
    text-decoration: none;
    color: #fa4b4b;
}
nav li:hover {
    background-color: rgb(244, 244, 72);
}
header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

