/* Common class */
.box {
    background-color: lightgray;
    padding: 15px;
    margin: 10px;
    width: fit-content;
}

#main-title {
    color: darkblue;
    text-align: left;
}

.block-to-inline li {
    display: inline;
}

#inline-to-block {
    display: block;
}

a{
    display: block;
}

#display-none {
    display: none;
}

#visibility-hidden {
    visibility: hidden;
}




